<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Catways</title>
</head>
<body>
  <h1>Liste des Catways</h1>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Numéro du Catway</th>
        <th>État</th>
      </tr>
    </thead>
    <tbody>
      <% catways.forEach((catway, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= catway.number %></td>
          <td><%= catway.state %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
