<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Déclaration du charset et du viewport pour un affichage optimisé sur mobile -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Lien vers la feuille de style CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Titre de la page affiché dans l'onglet du navigateur -->
    <title>Tableau de Bord</title>
</head>
<body>
    <!-- En-tête de la page -->
    <header>
        <!-- Titre principal avec une classe spécifique pour le dashboard -->
        <h1 class="h1-dashboard">Tableau de Bord</h1>
    </header>
    <!-- Navigation principale -->
    <nav>
        <ul>
            <!-- Liens de navigation vers les différentes sections de l'application -->
            <li><a href="/catways">Gestion des Catways</a></li>
            <li><a href="/reservations">Gestion des Réservations</a></li>
            <li><a href="/users">Gestion des Utilisateurs</a></li>
            <li><a class="API-document" href="/docs/Api.md">Documentation API</a></li>
            <li><a href="/logout" class="logout-button">Se Déconnecter</a></li>
        </ul>
    </nav>
</body>
</html>
