
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Utilisateurs</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<header>
<h1>Détails de l'utilisateur</h1>
<nav>
    <!-- Bouton Burger (visible uniquement sur PC) -->
    <div class="burger-menu" id="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu qui sera caché par défaut (mobile) et affiché lors du clic sur le bouton burger -->
    <ul class="nav-links" id="nav-links">
        <li><a href="/dashboard">Tableau de Bord</a></li>
        <li><a href="/catways">Gestion des Catways</a></li>
        <li><a href="/reservations">Gestion des Réservations</a></li>
        <li><a href="/users">Gestion des Utilisateurs</a></li>
        <li><a class="API-document" href="/docs">Documentation API</a></li>
        <li><a href="/logout" class="logout-button">Se Déconnecter</a></li>
    </ul>
</nav>
</header>
<p>Nom d'utilisateur: <%= user.username %></p>
<p>Email: <%= user.email %></p>
<a href="/users"  class="button red">Retour à la liste des utilisateurs</a>

<script>
    // Sélection des éléments HTML
    const burgerMenu = document.getElementById("burger-menu");
    const navLinks = document.getElementById("nav-links");

    // Ajout d'un événement de clic pour ouvrir/fermer le menu et animer le burger
    burgerMenu.addEventListener("click", () => {
        navLinks.classList.toggle("active");
        burgerMenu.classList.toggle("open"); // Ajoute la classe "open" pour l'animation
    });
</script>

</body>
</html>
